:root {

  --background:  #1db78e;
  --background-light: #0f0f0f;
  
  --text: #f2f2f2;
  
  --primary: #d3b04f;
  --primary-dark: #cd9b46;
  --primary-light: #d8c558;
  --primary-low-opacity: hsla(0, 0%, 39%, 0.05);

  --secondary: #1db78e;
  --secondary-dark: #00a97c;
  --secondary-light: #4ec5a1;

  --success: #72d34f;
  --danger: #d36e4f;


  --cell: #212121;
  --cell-hover: #2d2d2d;

  --start : #1db78e;
  --end :  #d34f4f;
  --visited: #e0db71;
  --path : #4f72d3;
  --current : #4fd3b0;
  --wall : #cd9b46;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


body {
  background-color: var(--background);
  color: var(--text);
  font: 400 1rem/1.5 'Golos Text', sans-serif;
  user-select: none;
}

.wall{
  background-color: var(--wall) !important;
}

.empty{
  background-color: var(--cell) !important;
}

.start{
  background-color: var(--start) !important;
}

.end{
  background-color: var(--end) !important;
}

.visited{
  background-color: var(--visited) !important;
}

.path{
  background-color: var(--path) !important;
}

.current{
  background-color: var(--current) !important;
}