.layout{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
}

.container{
    flex: 1;
    padding: 24px;
    height: calc(100% - 32px);
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin: 16px;
    background-color: var(--background-light);
    border-radius: 12px;
}

