.nav{
    padding: 16px;
    display: flex;
    height: 100vh;
    background-color: var(--background-light);
    width: 200px;
    min-width: 200px;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.navItem{
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.navItem:hover{
    background-color: var(--secondary-dark);
}

.navItem.active{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 4px solid var(--secondary);
}

.icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 80%;
        aspect-ratio: 1/1;
        object-fit: contain;
        user-select: none;
    }
}