
.matrix{
    width: 100%;
    flex-grow: 1;
    display:grid;
    gap: auto;
    .block{
        border: 1px solid var(--primary-low-opacity);
        aspect-ratio: 1/1;
        background-color: var(--cell);
        display: grid;
        place-items: center;
        height: 25px;
        width: 25px;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            background-color: var(--primary) !important;
            color: var(--background);
            border:  0px solid var(--background);
        }
    }
}




.brushes{
    display: flex;
    gap: 5px;
}

.brush{
    min-width: 20px;
    min-height: 20px;
    aspect-ratio: 1/1;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
        border: 1px solid var(--primary);
    };
    &.active{
        border: 2px solid var(--primary) !important;
    }
}

.wall{
    background-color: var(--wall) !important;
}

.empty{
    background-color: var(--cell) !important;
}

.start{
    background-color: var(--start) !important;
}

.end{
    background-color: var(--end) !important;
}

.visited{
    background-color: var(--visited) !important;
}

.path{
    background-color: var(--path) !important;
}

