
.matrix{
    width: 100%;
    flex-grow: 1;
    display:grid;
    gap: auto;
    .block{
        border: 1px solid var(--primary-low-opacity);
        aspect-ratio: 1/1;
        background-color: var(--cell);
        display: grid;
        place-items: center;
        height: 25px;
        width: 25px;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover{
            background-color: var(--cell-hover) !important;
        }
    }
}




.brushes{
    display: flex;
    gap: 5px;
}

.brush{
    min-width: 20px;
    min-height: 20px;
    aspect-ratio: 1/1;
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    &:hover{
        border: 1px solid var(--primary);
    };
    &.active{
        border: 2px solid var(--primary) !important;
    }
}

